.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login__form__error {
    margin-top: 0;
    font-size: 15px;
    color: red;
    text-align: center;
    display: block;
}